<section class="dashboard__content">
  <nav class="menu-content">
    <ul class="menu-content__list">
      <li class="menu-content__item">Últimas actualizaciones</li>
      <li class="menu-content__item">Tu actividad reciente</li>
      <li class="menu-content__item">Tus colaboradores (3)</li>
      <li class="menu-content__item selected">Favoritos</li>
    </ul>
  </nav>
  <div class="content-info">
    <h2 class="content-info__title">NASA Graphics Standars</h2>
    <ul class="content-info__list">
      <li class="content-info__item">
        <i class="fas fa-file-alt content-info__icon"></i>
        <div>
          <p class="content-info__text">Nuestra visión</p>
          <p class="content-info__text content-info__text--date">05/10/2018</p>
        </div>
      </li>

      <li class="content-info__item">
        <i class="fas fa-file-alt content-info__icon"></i>
        <div>
          <p class="content-info__text">Tagline: Accelerating the change. Fast</p>
          <p class="content-info__text content-info__text--date">05/10/2018</p>
        </div>
      </li>

      <li class="content-info__item">
        <i class="fas fa-file-alt content-info__icon"></i>
        <div>
          <p class="content-info__text">THE BUSINESSTECH CONSULTANCY</p>
          <p class="content-info__text content-info__text--date">08/10/2018</p>
        </div>
      </li>

      <li class="content-info__item">
        <i class="fas fa-file-alt content-info__icon"></i>
        <div>
          <p class="content-info__text">Valores</p>
          <p class="content-info__text content-info__text--date">05/10/2018</p>
        </div>
      </li>
    </ul>
  </div>
</section>
