<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mintta - Dashboard</title>
    <link rel="icon" href="favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <div class="dashboard__wrapper">
        <partial src="./_user-menus.html"></partial>
        <main class="main-dashboard">
            <div class="wrapper__hero">
                <div class="main-dashboard__hero"></div>
                <div class="main-dashboard__logo">
                    <img class="logo--nasa" src="./assets/images/logo-nasa.png" alt="">
                </div>
            </div>
            <partial src="./dashboard/_dashboard-content.html"></partial>
        </main>
    </div>
    <script src="https://kit.fontawesome.com/196a266456.js"></script>
</body>
</html>