.menus {
    min-height: 100vh;
    width: 300px;
    background-color: $color-snowWhite;
    background-color: red;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}