<aside class="login__info">
  <div class="form__wrapper">
    <h1 class="login__main-title">Hola</h1>
    <p class="login__text-info">Accede a tu cuenta</p>
    <partial src="./login/_login-form.html"></partial>
    <p class="form__info-pass form__info-pass--bold">
      ¿Has olvidado tu contraseña?
    </p>
    <p class="form__info-pass">
      <a class="restore__pass" href="#">Restaurar contraseña</a>
    </p>
  </div>
  <div class="footer-form">
    <a href="/">
      <img
        class="footer-form__logo"
        src="./assets/images/logo_mintta_r.png"
        alt="Mintta"
      />
    </a>
    <p class="footer-form__info">
      <span
        ><img
          class="footer-form__logo--small"
          src="./assets/images/logo_mintta.png"
          alt="Mintta"
      /></span>
      es una marca propiedad de Gravita. Todos los derechos reservados.
      <a class="footer-form__link" href="/">Política de privacidad.</a>
      <a class="footer-form__link" href="/">Política de cookies.</a>
    </p>
  </div>
</aside>
