<form action="#" method="post" class="form">
  <div>
    <label for="email"></label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]"
      required
    />
  </div>
  <div>
    <label for="password"></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contraseña"
      required
    />
  </div>
  <button type="submit" class="btn__submit">Entrar</button>
</form>
