$color-snowWhite: #fff;
$color-lightGrey: #F5F5F5;
$color-pearlGrey: #F4F4F4;
$color-greyRock: #BCBDBC;
$color-steelGrey: #8D8D8D;
$color-blackRock: #000;
$color-greenMint: #69DFC2;
$color-greenEmerald: #6AE1C6;